@media (min-width: 1200px) {
  .header {
    width: 50%;
    .container {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  .block {
    width: 60%;
    li:nth-child(1n + 2) {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
  }
}
@media (max-width: 800px) {
  .header {
    width: 90%;
    .container {
      h1 {
        font-size: 2rem;
      }
    }
  }
  .block {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 100%;
      border: 4px solid white;
    }
    li {
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }
    li:nth-child(1n + 2) {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
  }
}
@media (max-width: 500px) {
  .header {
    width: 90%;
    .container {
      padding: 0 1.5rem;
      h1 {
        font-size: 1.5rem;
      }
      input[type="text"] {
        width: 100%;
      }
      input[type="submit"] {
        width: 100%;
      }
    }
  }
  .block {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 100%;
      border: 4px solid white;
    }
    li {
      padding-bottom: 1rem;
      border-bottom: 1px solid white;
    }
    li:nth-child(1n + 2) {
      font-size: 1.2rem;
      padding-top: 1rem;
    }
  }
}
